/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

/* Imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;700;900&display=swap');

/* Animations */

@keyframes moveObject {
  from {
    transform: translateX(200px);
    background-color: transparent;
  }

  100% {
    transform: translateX(0px);
    background-color: #63bb95;
  }
}

@keyframes bounceObject {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes textFlow {
  to {
    transform: translateX(0);
  }
}

/* Globals */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #e1ebee;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* make scrollbar invisible */
}

/* nav bar for all pages */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(158, 202, 190, 0.7);
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
}

h1.logo {
  color: #2d503f;
  padding: 0.4rem 1.25rem;
}

nav.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 0.4rem;
}

a.nav-item {
  margin: 0 1.25rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 0.5rem 0.4rem 0;
  text-decoration: none;
  color: #2d503f;
  border-bottom: 0.4rem solid transparent;
  border-radius: 10%;
  transition: border 0.4s ease-in-out;
}

a.nav-item:hover {
  border-bottom: 0.4rem solid #2d503f;
}

/* footer for all pages */

footer {
  background-color: #333;
  padding: 0.6rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  height: 50px;
}

a.footer-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a.nav-footer {
  color: #aaa;
  font-size: 1rem;
  padding: 0.75rem;
  text-decoration: none;
}

footer .credits {
  color: #aaa;
}

/* index page main section */

section.bg {
  min-height: calc(100vh - 120px);
  margin-top: 70px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/chris-henry-unsplash.jpg') no-repeat center center/cover;
  border-bottom-right-radius: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* profile info card  */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 70px auto;
  padding: 2.5rem 0;
  height: 600px;
  color: #fff;
}

.hidden {
  visibility: hidden;
}

.profile-image {
  border-radius: 50%;
  height: 240px;
  width: 240px;
}

.card-content {
  text-align: center;
}

.profile-name {
  font-size: 3.75rem;
  font-weight: 500;
}

.profile-subtitle {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

/* Social media links */

ul.account-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.8rem;
}

li.account a {
  color: #fff;
  font-size: 1.75rem;
}

li.account a:hover,
a.nav-footer:hover {
  color: #63bb95;
}

.bounce {
  animation: bounceObject 2s ease-in-out;
}

/* Animating side buttons: showing wqhen hovering on card */

.buttons-container {
  height: 100%;
  width: 100%;
  margin-bottom: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.side-buttons > a > button {
  margin: 0;
}

.show {
  animation: moveObject 1.5s ease-out;
}

/* About page main section */

section.page {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.page-dark {
  background-color: #333;
  color: #ddd;
}

section.fill {
  justify-content: space-between;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-text {
  height: 60vh;
  padding: 0 100px 0 40px;
}

.container-text-left {
  /* height: 60vh; */
  padding: 0 40px 0 100px;
}

/* Animation types  */

.flow {
  transform: translateX(-1000px);
  animation: textFlow 1s forwards ease-in;
}
/* 
.flow:nth-child(1) {
  animation-delay: 0.5s;
}

.flow:nth-child(2) {
  animation-delay: 1s;
}

.flow:nth-child(3) {
  animation-delay: 1.5s;
}

.flow:nth-child(4) {
  animation-delay: 2s;
}

.flow:nth-child(5) {
  animation-delay: 2.5s;
} */

.flow2 {
  transform: translateX(-1000px);
  animation: textFlow 1s forwards ease-in;
}

.flow3 {
  transform: translateX(1000px);
  animation: textFlow 1s forwards ease-in;
}

/* Text sizes */

h1.page-title {
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 1.3rem;
}

h1.page-title.flow {
  margin-bottom: 0.8rem;
}

p.page-text {
  font-size: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0.4rem;
}

/* Buttons (for index too) */

button.more {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: none;
  background-color: #63bb95;
  font-size: 1.2rem;
  font-weight: 200;
  padding: 1rem 0.3rem 0.6rem;
  margin: 20px 20px 0 0;
  cursor: pointer;
}

button.more:hover {
  background-color: rgba(99, 187, 149, 0.7);
}

button.more i {
  display: block;
  font-size: 2.25rem;
  margin-bottom: 0.3rem;
}

/* Images classes */

.page-img {
  height: 70vh;
  max-width: 50vh;
}

.page-img-big {
  height: 100%;
  max-width: 50vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.img-left {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.img-right {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

button.more-small {
  height: 80px;
  width: 80px;
  margin-top: 40px;
}

/* Cities section */

.container-maps {
  height: 80vh;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

h1.city {
  margin: 10px 0 50px;
}

h3.city-name {
  border-radius: 1rem;
  display: inline-block;
  font-size: 1.9rem;
  background: #63bb95;
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}

p.city-desc {
  min-height: 70px;
  margin-bottom: 30px;
}

.map-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  max-width: 100%;
  padding: 0 60px 0 100px;
}

.map-buttons {
  margin-top: 0;
}
